.DS_Store
.vscode
# ignore lib
demo_andriod/arm64-v8a/include
demo_andriod/arm64-v8a/lib
demo_andriod/armeabi-v7a/include
demo_andriod/armeabi-v7a/lib
demo_x86/x86
# ignore build
demo_andriod/simple_mnist/build.arm*
demo_x86/mnist_lite/build
# no saved model
assets/models/simple_mnist.nb