# ignoree files
.DS_Store
.vscode
# ignore dirs
build/
_build/
kernel_meta*/
cache*/
data*/
include/
lib/
paddle_inference/
# ignore files
core*
*.log
*.om
*.so
*.dylib
*.lib
*.tar.gz
*.vsix
*.tar.gz
*.txt
*.dot
*.json
# not ignore
!*.sh
!*.py
# ignore all files under models except .nb
!/**/models/
**/models/*
!/**/*.nb
